@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.flex-start {
  @apply flex items-start justify-center;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-end {
  @apply flex items-center justify-end;
}

.flex-between {
  @apply flex items-center justify-between;
}

.clock {
  font-family: 'Montserrat', sans-serif;
}

.paddings {
  @apply px-1 md:px-5 lg:px-10 xl:px-14 2xl:px-20;
}

.scroll::-webkit-scrollbar {
  width: 12px;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.cl-internal-11ewti4 {
  @apply w-16 h-16;
}

@layer components {
  .tw-timer-container {
    @apply w-[20rem] h-[20rem] flex justify-center items-center rounded-full bg-gradient-to-t to-pmd-blue-600 from-pmd-blue-900  shadow-2xl shadow-pmd-blue-600;
  }

  .tw-timer {
    @apply w-[17rem] h-[17rem] flex justify-center items-center rounded-full text-6xl bg-pmd-blue-900;
  }

  .tw-infoContainer {
    @apply bg-pmd-blue-900 flex justify-between items-center rounded-full p-3 mb-6;
  }

  .tw-infoItem {
    @apply p-3 text-pmd-blue-300 font-semibold rounded-full text-xs flex-1 text-center whitespace-nowrap cursor-pointer;
  }

  .tw-infoItem.active {
    @apply bg-pmd-red-700 text-pmd-blue-800;
  }
}

.cl-userButtonBox {
  @apply flex flex-col-reverse;
}

.cl-userButtonOuterIdentifier {
  @apply text-lg text-slate-300/60;
}

.input {
  @apply border-b rounded-xl border-slate-400/20 text-slate-400/70 focus:border focus:border-primary-500;
}

.input-2 {
  @apply bg-transparent text-slate-300/70 border-b border-white outline-none focus:border-r focus:border-primary-400 mt-2 transition-all;
}

.steps-button {
  @apply rounded-2xl bg-primary-500 font-bold hover:bg-primary-700 mt-5 hover:font-black;
}

.shadow-3xl {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cl-internal-b3fm6y {
  @apply bg-[#19191A] text-[#19191A] border-none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
